body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(52, 2, 69);
    margin-top: 100px;
}

img {
    width: 100%;
}

.contacts .twit {
    width: 5%;
}



h1 {
    margin: 15px 0;
}

h2 {
    margin: 0;
    font-weight: 100;
}


.card {
    background-color: rgb(255, 225, 241);
    margin: 0 auto;
    border-radius: 15px;
    width: 400px;
    text-align: center;
    box-shadow: rgb(0, 0, 0, 0.1) 10 10 1px;
    border: 2px solid rgb(252, 220, 255);
}

.card .avatar {
    width: 100px;
    border-radius: 50%;
    margin-top: -50px;
    box-shadow: rgb(0, 0, 0, 0.1) 10 10 1px;

}

.contacts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contacts li {
    width: 30px;
    display: inline-block;
    padding: 20px 10px;
}

.contacts li a img:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;
}